/* .regra-de-tamanho{
    width: 200px;
    height: 200px;
} */

.miniatura{
    /* comportamento inline-block que continua semelhante
    a texto porém reconhece margens e dimensões */
    display: inline-block;
    margin: 5px;
}
.miniatura img{
    width: 150px;
}

h1{
    font-family: 'Noto Serif', serif;
}

p{
    font-family: 'Noto Serif', serif;
}

li{
    font-family: 'Noto Serif', serif;
}

